[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
label-studio-converter = "*"
roboflow = "*"
label-studio = "*"

[dev-packages]

[requires]
python_version = "3.9"
